body{
    background: black url("shutterstockSergey-Nivens_1093559528.jpg") center top no-repeat fixed;
    background-size: cover;
}
h1{
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: initial;
    display: block;
    padding-top: 4px;
    padding-right: 5px;
    width: 350px;
    margin: auto;
    margin-left: 60px;
    margin-top: 30px;
    border: 1.5px solid;
}
p{
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    font-family: Arial, sans-serif;
    font-weight: initial;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    margin: auto;
    margin-left: 60px;
    border: 1.5px solid;
}
label#check {
    display: inline;
}
p > label {
    display: block;
}