:root{
    --cor1:#680200;
    --cor2:#AA0505;
    --cor3:#eecc47;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: var(--cor1);
    margin: 0;
}
h1#tp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    padding: 0px;
}
a{
    color: black;
    padding: 7px; 
    margin: 1px;
    background-color: var(--cor3);
    text-decoration: none;
    font-size: small;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    border-radius: 7px;
    font-weight: bold;
    transition-duration: 0.5s;
}
a:hover {
    background-color: lightyellow;
    font-size: 101%;
}
header {
    background-color: var(--cor2);
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    border-radius: 7px;
    min-width: 320px;
    max-width: 800px;
    margin: 8px auto 8px auto;
}
img {
    width: 100%;
    border-radius: 7px;
}
h2{
    text-align: center;
    color: black;
    background-image: linear-gradient(to right, transparent, var(--cor3), transparent);
    padding: 6px; 
    margin: 3px; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    border-radius: 7px;
}
p#art {
    padding: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
main{
    background-color:rgba(56, 56, 56, 0.685) ;
    color: rgb(255, 255, 255);
    padding: 06px; 
    text-align: justify;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    border-radius: 7px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
div.video {
    background-image: linear-gradient(to right, transparent, var(--cor3), transparent);
    padding: 10px;
    padding-bottom: 50%;
    border-radius: 7px;
    margin: 5px;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 7px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 1px;
}
footer > p {
    margin: 0px;
}