@font-face{
    font-family: 'star';
    src: url('Fontes/sf_distant_galaxy/SF\ Distant\ Galaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor1:#060606;
    --cor2:#032838;
    --cor3:#045A6B;
    --cor4:#0A959C;
    --cor5:#BDF2D9;
}
body{
    background-color: var(--cor1);
    background-image: url('Imagens/uni1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: 'star';
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 50px;
}
header {
    position: relative;
}
main {
    background-color:#010a0ed0;
    border-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 950px;
}
div.imagens {
    height: 150px;
    margin: 20px;
    min-width: 300px;
    max-width: 930px;
    border: var(--cor4) solid 2px;
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
}
div#img1 {
    background-image: url('Imagens/star-wars-dual-monitor-0e05x96fsbxni4jm.jpg');
    background-position: center top;
}
div#img2 {
    background-image: url('Imagens/_20210812_on_dysonsphere.jpg');
    background-position: center top;
}
div#img3 {
    background-image: url('Imagens/dark-darth-vader-star-wars-tablet-gp7se5myotp7mfhj.jpg');
    background-position: center top;
}
p#yoda{
    padding-bottom: 280px;
}
p#des {
    font-family: 'star';
    text-align: center;
    color: var(--cor5);
}
p {
    padding: 15px;
    font-family: 'star';
    text-align: center;
    color: var(--cor5);
}
